# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Norbit.CRM.Tyganov.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\CSharpCourse\Tyganov Ilya\Norbit.CRM.Tyganov\.idea\.idea.Norbit.CRM.Tyganov\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
